#chat-area
{
	height: 70vh;
	width: 100%;
}
.input_area
{
	display: flex;
	justify-content: space-between;
}
.input_area > input
{
	width: 100%;
}
.input_area > button
{
	margin-left: 1rem;
}
#commands > button
{
	width: 5rem;
}
.left_right
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
#files-list
{
	min-width: 10rem;
	width: max-content;
	max-width: 20rem;
	margin-right: 1rem;
	max-height: 70vh;
}
#files-list > ul
{
	word-wrap: break-word;
	overflow-y: auto;
}
.error
{
	color: tomato;
	font-weight: bold;
	position: absolute;
	margin-left: 0.5rem;
}
.invisible
{
	display: none;
}
.status
{
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	margin-right: 0.5rem;
}
.status__in_progress
{
	background-color: gray;
}
.status__delivered_to_server
{
	background-color: yellow;
}
.status__delivered_to_all
{
	background-color: green;
}
.status__no_connected
{
	background-color: red;
}

@media screen and (max-width: 900px)
{
	.left_right
	{
		display: block;
	}
	#files-list
	{
		width: 100%;
		max-height: none;
	}
}