#chat-area
{
	height: 70vh;
	width: 100%;
}
.input_area
{
	display: flex;
	justify-content: space-between;
}
.input_area > input
{
	width: 100%;
}
.input_area > button
{
	margin-left: 1rem;
}
#commands > button
{
	width: 5rem;
}
.left_right
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
#files-list
{
	min-width: 10rem;
	width: max-content;
	max-width: 20rem;
	margin-right: 1rem;
}
#files-list > ul
{
	word-wrap: break-word;
	max-height: 70vh;
	overflow-y: auto;
}